GLASS_MODE=local
GLASS_RECORDER_WEB_URL=https://glass-recorder-web.vercel.app
OPENAI_API_KEY=your_key_here
MONGO_URI=your_mongodb_uri_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
